
## HOME backup ## 

# top level of home - trailing slash is VITAL
HOMEDIR="/home/james/"

# location where weekly backups are stored
WEEKLY_BACKUP_TARGET="/run/media/james/WeeklyBackup3TB/WeeklyBackup"

# location where monthly backups are stored
MONTHLY_BACKUP_TARGET="/run/media/james/MonthlyBackup2TB/MonthlyBackup"

# files excluded from /home backup
HOME_EXCLUDED="exclude_from_home"

# rsync options for /home backup
RSYNC_OPTIONS="--dry-run --archive --human-readable --verbose --progress --numeric-ids --delete"



## SYSTEM backup ##

# top level of system
SYSTEMDIR="/"

# location where system backups are stored
SYSTEM_BACKUP_TARGET="/run/media/james/WeeklyBackup3TB/SystemBackup"

# location of archived snapshots
SNAPSHOT_ARCHIVE="/run/media/james/WeeklyBackup3TB/SystemBackupSnapshots"

# number of snapshots to retain
SNAPSHOTS=3

# folders excluded from system backup
SYSTEM_EXCLUDED="exclude_from_system"

# rsync options
RSYNC_OPTIONS_SYSTEM="--archive --acls --xattrs --verbose --human-readable --progress --dry-run"
