
## HOME backup ## 

# top level of home
HOMEDIR="/home/james/"

# location where weekly backups are stored
WEEKLY_BACKUP_TARGET="/run/media/james/WeeklyBackup3TB/WeeklyBackup"

# location where monthly backups are stored
MONTHLY_BACKUP_TARGET="/run/media/james/MonthlyBackup2TB/MonthlyBackup"

# files excluded from /home backup
HOME_EXCLUDED="exclude_from_home"

# rsync options for /home backup
RSYNC_OPTIONS="--dry-run --archive --human-readable --verbose --progress --numeric-ids --delete"



## SYSTEM backup ##

# top level of system
SYSTEMDIR="/"
# location where system backups are stored
#SYSTEM_BACKUP_TARGET="/run/media/james/WeeklyBackup3TB/SystemBackup"
SYSTEM_BACKUP_TARGET="/home/james/LOCAL/github/TempWorkspace/backup"
# location of archived snapshots
#SNAPSHOT_ARCHIVE="/run/media/james/WeeklyBackup3TB/SystemBackupSnapshots"
SNAPSHOT_ARCHIVE="/home/james/LOCAL/github/TempWorkspace/archive"
# number of snapshots to retain
SNAPSHOTS=3
# folders excluded from system backup
SYSTEM_EXCLUDED="/home/james/SYNC/Arch\ Admin/misc/exclude_from_system_rsync"
