
# location where weekly backups are stored
WEEKLY_BACKUP_TARGET="/run/media/james/WeeklyBackup3TB/WeeklyBackup"
# location where monthly backups are stored
MONTHLY_BACKUP_TARGET="/run/media/james/MonthlyBackup2TB/MonthlyBackup"

# location where system backups are stored
#SYSTEM_BACKUP_TARGET="/run/media/james/WeeklyBackup3TB/SystemBackup"
SYSTEM_BACKUP_TARGET="/home/james/LOCAL/github/TempWorkspace/backup"
# location of archived snapshots
#SNAPSHOT_ARCHIVE="/run/media/james/WeeklyBackup3TB/SystemBackupSnapshots"
SNAPSHOT_ARCHIVE="/home/james/LOCAL/github/TempWorkspace/archive"
# number of snapshots to retain
SNAPSHOTS=3
