[Unit]
Description=Run monthly backup script

[Timer]
OnCalendar=*-*-01 03:30:00
Persistent=True
Unit=monthly-backup.service

[Install]
WantedBy=timers.target
