[Unit]
Description=Run monthly backup script

[Timer]
OnBootSec=10min 
OnCalendar=*-*-01 02:30:00
Persistent=True
Unit=monthly-backup.service

[Install]
WantedBy=timers.target
