[Unit]
Description=Run weekly system backup script

[Timer]
OnCalendar=Tue *-*-* 02:30:00
Persistent=True
Unit=system-backup-weekly.service

[Install]
WantedBy=timers.target
