[Unit]
Description=Run weekly backup script

[Timer]
OnCalendar=Mon *-*-* 01:00:00
Persistent=True
Unit=weekly-backup.service

[Install]
WantedBy=timers.target
